body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #030303;
  color: white;
}

* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}



#control {
  --other-content-height: 400px;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.background {
  pointer-events: none;
}

.background-image, .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.background-image img {
  height: 49vh;
  width: 100vw;
  filter: blur(80px);
}

.background-overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0.5),
    rgba(0,0,0,1)
  );
}

.albumart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(var(--control-height) - var(--other-content-height));

  position: absolute;
  top: 72px;
}

.albumart {
  aspect-ratio: 1 / 1 !important;
  margin: auto auto;
  max-height: min(100vw - 64px, var(--control-height) - var(--other-content-height));
  /* max-width: min(100vw - 64px, var(--control-height) - var(--other-content-height)); */
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.controldetails {
  --control-padding: 32px;
  --controldetails-height: 320px;

  display: inline-block;
  width: calc(100vw - var(--control-padding) * 2);
  margin: 0 var(--control-padding);

  position: absolute;
  top: calc(var(--control-height) - var(--controldetails-height));
}

/* .progress {} */
.currenttime, .totaltime {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255,255,255,0.7);

  position: relative;
  top: -24px;
}
.totaltime {
  float: right;
}

.progress-bar {
  position: relative;
  left: -16px;
  width: 100%;
  transform: translateY(-50%);
  margin-top: 32px;
  cursor: pointer;
  display: block;
  --knob-color: #fff;
  --knob-start-color: #fff;
  --knob-start-border-color: #fff;
  --active-color: #fff;
  --secondary-color: rgba(255,255,255,0.5);
  --container-color: rgba(255,255,255,0.2);
}

.extra-controls .progress-bar {
  max-width: 50%;
}

.slider-container {
  position: relative;
  width: 100%;
  height: calc(30px + 2px);
  margin-left: calc(15px + 2px / 2);
  margin-right: calc(15px + 2px / 2);
  padding: 0 var(--paper-slider-container-padding, 0);
}

.bar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.sliderBar {
  padding: 15px 0;
  width: 100%;
  background-color: var(--paper-slider-bar-color, transparent);
  --paper-progress-container-color: var(--container-color, #bdbdbd);
  --paper-progress-height: 2px;
  --paper-progress-container-border-radius: 0;
  --paper-progress-container-overflow: visible;
  --paper-progress-container-transform: none;

  display: block;
  position: relative;
  overflow: hidden;
}

.progressContainer {
  background: var(--paper-progress-container-color, #e0e0e0);

  position: relative;
  height: var(--paper-progress-height, 4px);
  border-radius: var(--paper-progress-container-border-radius, 0px);
  overflow: var(--paper-progress-container-overflow, visible);
  transform: var(--paper-progress-container-transform, none);
}

.progress {
  background: #fff;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  will-change: transform;
}

.sliderKnobContainer {
  position: relative;
  width: calc(100% - 2px * 2);
  margin: auto;
}

.sliderKnob {
  touch-action: none;

  position: absolute;
  top: var(--paper-slider-knob-top, 0);
  margin-left: calc(-15px - 2px / 2);
  width: var(--paper-slider-knob-size, calc(30px + 2px));
  height: var(--paper-slider-knob-size, calc(30px + 2px));
}

.slider-knob-inner {
  margin: 10px;
  width: var(--paper-slider-knob-inner-size, calc(100% - 20px));
  height: var(--paper-slider-knob-inner-size, calc(100% - 20px));
  background-color: var(--paper-slider-knob-color, #3367d6);
  border: var(--paper-slider-knob-border-style, 2px solid var(--paper-slider-knob-color, #3367d6));
  border-radius: 50%;
  box-shadow: var(--paper-slider-knob-box-shadow-style, none);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition-property: -webkit-transform, background-color, border;
  transition-property: transform, background-color, border;
  transition-duration: 0.18s;
  transition-timing-function: ease;
}

/* .details {} */
.song-details {
  display: block;
  height: 52px;
}

.song-details #title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-details #artist {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.controls, .extra-controls {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.control-button {
  display: inline-block;
  position: relative;
  padding: 8px;

  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.control-button-fake {
  opacity: 0.8;
  cursor: default;
  pointer-events: none;
}

.control-button svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.control-button {
  width: 40px;
  height: 40px;
}

.control-middle {
  width: 52px;
  height: 52px;
}

.control-center {
  background: white !important;
  border-radius: 50%;

  width: 70px;
  height: 70px;
}

.control-inner {
  width: 40px;
  height: 40px;
  color: black;
  margin: auto;
}

.control-inner:has(use[href="#play"]) {
  margin-left: 9px;
}

.buffer-rotate {
  animation: buffer-rotate 1s linear infinite;
}

@keyframes buffer-rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}