header nav {
    z-index: 100;
}
header nav .chip {
    border: none;
}

#home {
    height: calc(100vh - 16px);
}

#home > div {
    width: min(800px, 100%)
}

@media screen and (max-width: 600px) {
    body:has(nav.s.bottom) {
        margin-bottom: 80px;
    }

    #home {
        height: calc(100vh - 96px);
    }

    #home > div {
        width: 100%;
    }


}

.features .badge {
  inset-inline-end: 8px;
  inset-block-start: 4px;
}

.features article {
  margin-block-start: var(--gap);
}