header nav {
    z-index: 100;
}
header nav .chip {
    border: none;
}

#home {
    height: calc(100vh - 16px);
}

#home > div {
    width: max-content;
}

@media screen and (max-width: 600px) {
    #home {
        height: calc(100vh - 96px);
    }

    #home > div {
        width: 100%;
    }
}

#download, #features, #images {
    height: 1000px;
}