html,
body {
    background-color: #1D1D1D;
    color: #fff;

    /* padding: 5px; */
    padding: 0;

    width: 100%;
    height: 100%;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 93%;
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

#tips {
    position: absolute;
    width: 100%;
    text-align: center;
    color: lightgreen
}

#content {
    overflow: auto;
    width: 100%;
    height: 98%;
    /*margin-top: 34px; */
    padding: 40% 5px 5px 5px;
    transition: .5s ease-in-out all;
    scroll-behavior: smooth;
}

#lyric {
    font-size: 130%;
    text-align: center;
}

#lyric-source {
    font-size: 80%;
    padding: 0 0 0 6px;
    color: #AAA
}

.hide {
    display: none;
}