html,
body {
    background: #232323;
    color: #fff;

    padding: 5px;

    width: 100%;
    height: 100%;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 93%;
    white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f44336;
}

#content {
    overflow: auto;
    width: 100%;
    height: 94%;
    margin-top: 34px; 
    padding: 40% 5px 5px 5px;
    transition: .5s ease-in-out all;
}

#lyric {
    font-size: 130%;
    text-align: center;
}

input {
    color: #fff;
}

.hide {
    display: none;
}

#div_search_lyric {
    margin-top: 20%;
}