# distribution Folders
dist/

# Library & Library Manger files
node_modules/
bin/

.yarn/
yarn-error.log
package-lock.json

# IDE folders
.idea/
.vs/

# Other Files
.cache/
build/
css/
.npmrc

.DS_Store
/youtube-music-desktop-app-*.tgz
app-update.yml
dev-app-update.yml
commit_hash.js