# distribution Folders
dist/

# Library & Library Manger files
node_modules/

.yarn/
yarn-error.log
package-lock.json

# IDE folders
.idea/
.vs/
.vscode/

# Other Files
.cache/

.DS_Store
/youtube-music-desktop-app-*.tgz
app-update.yml
dev-app-update.yml
