{
  "trailingComma": "none",
  "semi": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 160
}
