html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;
    color: #FFF;
}

.drag {
    -webkit-app-region:drag;
}

.no-drag {
    -webkit-app-region: no-drag
}

.pointer {
    cursor: pointer;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #232323;
    width: 100%;
    height: 28px;
    max-height: 28px;
}

.title {
    float: left;
    margin: 3px 0 0 6px;
    color: #FFF;
}

.title i {
    margin-top: 4px;
}

.cmd-btns {
    float: right;
    color: white;
}

.cmd-btn {
    float: left;
    width: 40px;
    height: 28px;
    margin: 0;
    padding: 6px 0;
    text-align: center;
}

.cmd-btn:hover {
    background: rgba( 255, 255, 255, 0.1 );
}

.hide {
    display: none;
}

.hover-red:hover {
    background: red;
}

.shortcut-or {
    color: #AAA;
}

.center-flex {
    width: 100vw; 
    min-height: 100vh; 
    text-align: center; 
    line-height: 100vh;

    font-size: 20px;
}

.is-offline {
    width: 100%;
    text-align: center;
    color: #EEE;
}

.content {
    margin-top: 29px;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f44336;
}