html,
body {
    background-color: #1D1D1D;
    color: #fff;

    padding: 5px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .95em;

    line-height: 1.3em;
}

#version {
    width: 100%;
    margin: -15px 0 -15px 0;
    text-align: center;
    font-size: 1.5em;
}

#content {
    overflow: auto;
    width: 100%;
    padding: 2px;
    height: 100%;
    
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}
