body {
    margin: 2px;
}

#editor {
    position: absolute;
    margin: 0;
    top: 29;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom {
    position: absolute;
    bottom: 12px;
    right: 12px
}