body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

body:hover,
body.paused {
    backdrop-filter: blur(3px) brightness(0.7);
}

.cmd-btn,
.title,
.author,
.duration,
.controls {
    filter: opacity(0);
    /* transition: .4s; */
}

body:hover .cmd-btn,
body:hover .title,
body:hover .author,
body:hover .duration,
body:hover .controls,
body.paused .cmd-btn,
body.paused .title,
body.paused .author,
body.paused .duration,
body.paused .controls {
    filter: opacity(1);
    transition: .4s;
}

body:hover .progress-bar,
body.paused .progress-bar {
    margin-top: 15px;
    height: 3px;
    transition: .4s;
}

.cmd-btn {
    width: 20px;
    height: 20px;
    padding: 3px;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 50px 5px 0;
}

.author {
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.duration {
    margin-top: 5px;
    font-size: .8rem;
}

.controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.ctrl-btn {
    float: left;
    padding: 3px;
    margin: 10px 2px;
    border-radius: 50%;
}

.ctrl-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

#btn-play-pause {
    margin: 0;
}

#btn-like,
#btn-dislike {
    margin: 10px 5px;
}

#btn-like i,
#btn-dislike i {
    font-size: 14px;
    padding: 5px;
}

#btn-play-pause i {
    font-size: 44px;
}

.progress-bar {
    margin-top: 17px;
    height: 1px;
    /* transition: .4s; */
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}

#progress {
    height: 100%;
    width: 0;
    background: #FF0000;
}

#secondsEffect {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 125px;
    height: 200px;
}

#secondsEffect.left {
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,.5), transparent);
}

#secondsEffect.right {
    right: 0;
    background: linear-gradient(to left, rgba(255,255,255,.5), transparent);
}

.bt,
.bb,
.bl,
.br {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 5px;
    -webkit-app-region: drag;
}

.bb {
    top: 195px;
}

.bl {
    width: 5px;
    height: 200px;
}

.br {
    left: 195px;
    width: 5px;
    height: 200px;
}