body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

body:hover,
body.paused {
    backdrop-filter: blur(3px) brightness(0.7);
}

.hide-on-play {
    filter: opacity(0);
    height: 98vmin;
}

body:hover .hide-on-play,
body.paused .hide-on-play {
    filter: opacity(1);
}

.cmd-bar {
    height: 10vmin;
}

.cmd-btn {
    width: 10vmin;
    height: 10vmin;
    padding: 1.5vmin;
}

.cmd-btn i {
    font-size: 7vmin;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 8.5vmin;
    padding: 0 2.5vmin;
    margin-top: 10vmin;
}

.author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 7vmin;
    padding: 0 10px;
    margin-top: 0;
}

.duration {
    font-size: 5.5vmin;
    margin-top: 2vmin;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10vmin;
}

.ctrl-btn {
    float: left;
    padding: 1.5vmin;
    margin: 5vmin 1vmin;
    border-radius: 50%;
}

.ctrl-btn i {
    font-size: 12vmin;
}

.ctrl-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

#btn-play-pause {
    margin: 0;
}

#btn-like,
#btn-dislike {
    margin: 5vmin 2.5vmin;
}

#btn-like i,
#btn-dislike i {
    font-size: 7vmin;
    padding: 2.5vmin;
}

#btn-play-pause i {
    font-size: 22vmin;
}

.progress-bar {
    margin-top: 1.4vmin;
    height: .6vmin;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    transition: .4s ease-out;
}

body:hover .progress-bar,
body.paused .progress-bar {
    margin-top: 0;
    height: 2vmin;
}

#progress {
    height: 100%;
    width: 0;
    background: #FF0000;
}

#secondsEffect {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 60vmin;
    height: 100vmin;
}

#secondsEffect.left {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, .5), transparent);
}

#secondsEffect.right {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, .5), transparent);
}

/* Hover hack for windows */
.hover-top,
.hover-left,
.hover-right,
.hover-bottom {
    -webkit-app-region: drag;
    position: absolute;
    height: 2vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.hover-bottom {
    top: 98vh;
}

.hover-left {
    height: 100vh;
    width: 2vw;
}

.hover-right {
    height: 100vh;
    width: 2vw;
    left: 98vw;
}

/* transitions */
body,
.hide-on-play,
.progress-bar {
    transition: .2s ease-out;
}