body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: opacity(0);
    transition: .3s;
}

body:hover {
    filter: opacity(1);
    transition: .3s;
    backdrop-filter: blur(3px) brightness(0.7);
}

.cmd-btn {
    width: 20px;
    height: 20px;
    padding: 3px;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 50px 5px 0;
}

.author {
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
}

.duration {
    margin-top: 5px;
    font-size: .8rem;
}

.controls {
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.ctrl-btn {
    float: left;
    padding: 3px;
    margin: 10px 2px;
    border-radius: 50%;
}

.ctrl-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

#btn-play-pause {
    margin: 0;
}

#btn-like,
#btn-dislike {
    margin: 10px 5px;
}

#btn-like i,
#btn-dislike i {
    font-size: 14px;
    padding: 5px;
}

#btn-play-pause i {
    font-size: 44px;
}

.progress-bar {
    height: 3px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}

#progress {
    height: 100%;
    width: 0;
    background: #FF0000;
}

.drag {
    cursor: grab;
}