body:hover .player-info,
body:hover .cmd-btn,
body.showinfo .player-info,
body.showinfo .cmd-btn {
    filter: none;
}

body:hover .progress-bar,
body.showinfo .progress-bar {
    margin-top: 0;
    height: 2vmin;
}

body:hover #background,
body.showinfo #background {
    filter: blur(3px) brightness(0.7);
}

.player-info {
    filter: opacity(0);
    height: 78vmin;
}

.cmd-bar {
    margin: 4px 4px 0;
    height: 10vmin;
}

#btn-drag {
    filter: none !important;
}

.cmd-btn {
    width: 10vmin;
    height: 100%;
    padding: 1.5vmin;
    filter: opacity(0);
    border-radius: 100%;
}

.cmd-btn i {
    font-size: 7vmin;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 8.5vmin;
    padding: 0 2.5vmin;
    margin-top: calc(10vmin - 4px);
}

/*
    Album is a data call used in the stream player but not in the default.
    Due to the .js file calling this data I maintain parity with these base files.
    I have set the opacity to 0 and the position to absolute to not interfere.
    Just get rid of those settings to add it to the default mini player.
*/
.album {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    font-size: 18vmin;
    margin-top: -6vmin;
    margin-left: 22.5vmax;
}

.author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 7vmin;
    padding: 0 10px;
    margin-top: 0;
}

.duration {
    font-size: 5.5vmin;
    margin-top: 2vmin;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10vmin;
}

.ctrl-btn {
    float: left;
    padding: 1.5vmin;
    margin: 5vmin 1vmin;
    border-radius: 50%;
}

.ctrl-btn i {
    font-size: 12vmin;
}

.ctrl-btn:hover {
    background: rgba(255, 255, 255, 0.1);
}

#btn-play-pause {
    margin: 0;
}

#btn-like,
#btn-dislike {
    margin: 5vmin 2.5vmin;
    width: 100%;
}

#btn-like i,
#btn-dislike i {
    font-size: 7vmin;
    padding: 2.5vmin;
    position: absolute;
}

#btn-play-pause i {
    font-size: 22vmin;
}

.progress-bar {
    margin-top: 1.4vmin;
    height: 0.6vmin;
    width: 100vmin;
}

#progress {
    height: 100%;
    width: 0;
    background: #fff;
    transition: width 0.15s ease-in;
}

#content,
#secondsEffect {
    position: absolute;
    top: 0;
    width: 100vmin;
    height: 100vmin;
    z-index: 1;
}

#content {
    text-shadow: 0 0 3 #000;
}

#background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -1vmin;
    left: -1vmin;
    width: 102vmin;
    height: 102vmin;
    z-index: 0;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#secondsEffect {
    display: none;
}

#secondsEffect.left {
    left: -40vmin;
    display: block;
}

#secondsEffect.right {
    right: -40vmin;
    transform: rotate(180deg);
    display: block;
}

/* transitions */
.player-info,
.cmd-btn,
.progress-bar,
.ctrl-btn,
.material-icons {
    transition: filter, margin-top, height, background-color, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

.show-solid {
    opacity: 1;
}
.hide-solid {
    opacity: 0;
} 