name: Nightly

on:
  - push
  # push:
  #   branches:
  #     - "development"

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: yarn --frozen-lockfile
      - uses: jacobtomlinson/gha-find-replace@master
          with:
            find: "\"version\": \"([0-9\.]*)\""
            include: "package.json"
            replace: "\"version\": \"${1}-nightly\""
      - run: node ./script/build-current-platform.js
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Nightly Build"
          files: |
            LICENSE.txt
            dist/*.dmg
            dist/*.exe
            dist/*.AppImage
            dist/*.blockmap
            dist/*.yml
